<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <script src="https://kit.fontawesome.com/9d53be7224.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child class="interactive">
      <!-- content goes here -->

      <h3 class="graphic-hed">
        What are students talking about?
      </h3>

      <h4 class="graphic-chatter">You can search their responses by any term, or filter through the topics below.
        We analyzed more than 1,300 responses and are presenting nearly 200 here, in the students’ exact wording.</h4>


      <div id="buttonHolder">
        <div class="label">Topics</div>

        <div class="button" data-cat="MentalHealth" style="background-color:#FFE9CF">Mental health <span class="buttonTotals"></span></div>
        <div class="button" data-cat="Socializing" style="background-color:#D15959">Socializing <span class="buttonTotals"></span></div>
        <div class="button" data-cat="OnlineLearning" style="background-color:#D8894E;">Online learning <span class="buttonTotals"></span></div>
        <div class="button" data-cat="College" style="background-color:#ffd9d7">College <span class="buttonTotals"></span></div>

        <div class="input"><i class="fas fa-search"></i><input type="text" id="myInput" placeholder="Filter quotes for a specific word" title="Type in a name"><i class="fas fa-times-circle"></i></div>
      </div>



      <div id="quoteHolder">
        <div id="selectedQuotes"></div>
      </div>


      <figcaption class="source-container">
          <p class="data-source">Source: Washington student survey</p>
          <p class="art-credit">Lauren Flannery / The Seattle Times</p>
      </figcaption>


    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
